.dash-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #343434;
    background: white;
}

.dash-header h1 {
    padding-left: 40px;
    grid-column: 1 / 5;
}

.dashboard-nav {
    grid-column: 6 / 7;
    align-self: center;
    justify-self: flex-start;
    padding-right: 50px;
}

.admin-logout {
    grid-column: 6 / 7;
    align-self: center;
}

.admin-logout:hover {
    cursor: pointer;
}

.account {
    color: #343434;
    padding-right: 20px;
}

