.dash-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #343434;
    background: white;
    padding: 10px;
    width: 100%;
}

.dash-header h1 {
    padding-left: 40px;
    grid-column: 1 / 5;
}

.dashboard-nav {
    grid-column: 6 / 7;
    align-items: center;
    justify-self: flex-start;
    padding-right: 50px;
}

.admin-logout {
    grid-column: 6 / 7;
    align-self: center;
    border: none;
    font-size: 17px;
    color: rgb(23, 136, 87);
    display: flex;
    margin-left: 20px;
}

button.admin-logout p {
    margin: 2px 0 0 5px;
}

.admin-logout:hover {
    cursor: pointer;
}

.account {
    color: #343434;
    padding-right: 10px;
}

