.dash-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #343434;
    background: white;
    width: 100%;
    font-size: 14px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}

.dash-header h1 {
    font-size: 18px;
    padding-left: 20px;
    grid-column: 1 / 5;
    align-self: center;
}

.dashboard-nav {
    grid-column: 6 / 7;
    align-items: center;
    justify-self: center;
    padding-right: 20px;
}

.admin-logout {
    grid-column: 6 / 7;
    align-self: center;
    border: none;
    color: rgb(23, 136, 87);
    display: flex;
    font-size: 14px;
}

button.admin-logout p {
    margin: 3px 0 0 5px;
}

.admin-logout:hover {
    cursor: pointer;
}


@media (min-width: 768px){
    .dash-header {
        padding: 10px;
    }
    .dash-header h1 {
        font-size: 30px;
        padding-left: 40px;
    }
    .dashboard-nav {
        padding-right: 50px;
    }
    .admin-logout {
        margin-left: 20px;
        font-size: 15px;
    }
}