form {
    padding-top: 30px;
}

.steps-grid {
    display: grid;
    grid-template-columns: 20px 300px 50px;
    align-items: center;
}

.steps-grid button {
    background: none;
    border: none;
    font-size: 25px;
    padding: 0;
}