@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

.services-page {
    font-family: 'Open Sans', sans-serif;
}

.services-content {
    width: 85%;
    margin: 70px auto;
}

.services-page h1 {
    font-size: 60px;
    margin-top: 0px;
    color: rgb(106, 104, 104);
    padding: 100px 180px;
}

.service {
    margin-top: 50px;
}

.services-page h1,
.services-page h2 {
    font-family: 'Work Sans', sans-serif;
}

.services-background-image-container {
    background: url('https://images.unsplash.com/photo-1429823040067-2c31b1d637ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services-message {
    margin-top: 50px;
}

.services-message button {
    background-color: green;
    border: none;
    color: white;
    width: 200px;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
}

.services-message button:hover {
    background: rgb(77, 154, 77);
    transition: 300ms linear 10ms;

}