@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

/* =============
GLOBAL STYLES
============= */

/* FONT STYLES */
.dashboard-container h1,
.dashboard-container h2,
.dashboard-container h3 {
    font-family: 'Work Sans', sans-serif;
    color: #273443;
}

.dashboard-container {
    font-family: 'Open Sans', sans-serif;
}

span {
    font-size: 14px;
}

/* GLOBAL ELEMENT STYLES */
table {
    border-collapse: collapse;
    border: 1px solid rgb(221, 220, 220);
    grid-column: 1 / -1;   
    background-color: white;
    font-size: 14px;
}

th {
    background: #273443;
    color: white;
    text-align: left;
}

td {
    border-top: 1px solid rgb(221, 220, 220);
}

td, th {
    padding: 5px 10px;
}

select {
    margin: 2px;
    padding: 5px 35px 5px 5px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px sold gray;
    border-radius: 5px;
    width: 75%;
    background: url(https://image.flaticon.com/icons/svg/32/32195.svg) 95% / 5% no-repeat #fff;
}


/* ================
CONTAINER STYLES
================ */
.data-container h3 {
    grid-column: 1 / 4;
    font-size: 25px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ================
COMPONENT STYLES
================ */

/* BUTTONS */

.edit,
.cancel-btn,
.add-btn,
.update-btn,
.delete-btn {
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.edit,
.cancel-btn,
.add-btn {
    color: rgb(63, 63, 63);
    border: 1px solid rgb(63, 63, 63);
    box-shadow: 1px 1px 2px gray;
}

.edit {
    display: grid;
    grid-column: 6 / -1;
    width: 150px;
    text-align: center;
}

.cancel-btn {
    padding: 8px 10px;
    margin-top: 15px;
    justify-self: flex-end;
}

.add-btn  {
    grid-column: 4 / -1;
    margin: 15px 0;
}

.delete-btn {
    color: red;
    font-weight: 500;
    border: none;
    font-size: 14px;
}

.delete-btn:hover {
    color: rgb(197, 6, 6);
}

.update-btn {
    color: rgb(23, 136, 87);
    font-weight: 500;
    border: none;
    font-size: 15px;
    transition: 200ms linear;
}

.update-btn:hover {
    color: rgb(17, 105, 67);
    transition: 200ms linear;
}

.view {
    color: rgb(58, 58, 58);
    text-decoration: none;
}

.view:hover {
    color: rgb(38, 38, 38);
}

.submit-full {
    border: 1px solid rgb(23, 136, 87);
    font-size: 16px;
    background: rgb(23, 136, 87);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    transition: 200ms linear;
}

.submit-modal {
    width: 100%;
    height: 50px;
}

.submit-full:hover {
    cursor:pointer;
    background: rgb(17, 105, 67);
    transition: 200ms linear;
}

.update-btn:hover,
.delete-btn:hover {
    cursor:pointer;
}

.edit:hover,
.cancel-btn:hover,
.add-btn:hover {
    box-shadow: 2px 2px 3px gray;    
    transition: 300ms linear;
    cursor: pointer;
}

.btn {
    margin: 0 2px;
}

.add-icon,
button.add-icon {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 20px 0px 15px 20px;
    color: #273443;
}

.add-icon:hover,
.delete-icon:hover,
.close-icon {
    cursor: pointer;
}


/* FORMS */
.edit-form,
.add-form {
    background: white;
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(174, 174, 174);  
    margin: 20px 0;  
}


/* COMPANY SETUP STYLES */

.company-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company-info {
    grid-column: 1 / 2;
}

.edit-company {
    display: grid;
    grid-column: 1 / -1;
    align-self: flex-end;
}

.edit-customer {
    display: grid;
    align-self: flex-end;
}

.company-info-container p,
.company-info-container address {
    font-size: 14px;
}



/* PROCESS STEPS PAGE STYLES */
.steps-grid {
    display: grid;
    grid-template-columns: 20px 300px 50px;
    align-items: center;
}

.steps-grid button {
    background: none;
    border: none;
    font-size: 25px;
    padding: 0;
}


/* CUSTOMER ACCOUNTS STYLES */
.deactivated {
    color: gray;
}

.deactivated button {
    color: gray;
    border: 1px solid gray;
}



/* =============
MEDIA QUERIES
============= */
@media (min-width: 900px){
    .dashboard-container {
        display: grid;
        grid-template-rows: 105px repeat(11, 1fr);
        grid-template-columns: repeat(12, 1fr);
        height: 100vh;
    }
    .dash-nav {
        grid-column: 4 / -1;
        grid-row: 1 / 2;
        position: fixed;
        margin-left: 25%;
        transition: 200ms linear;
    }
    .dash-sidebar {
        grid-column: 1 / 4;
        grid-row: 1 / -1;
    }
    .dash-home {
        padding: 30px;
        grid-column: 3 / -1;
        grid-row: 2 / -1;
        padding: 50px 60px 0 120px;
        background-color: rgb(240, 240, 240);
        height: 100%;
        transition: 200ms linear;
    }
    .dash-home.collapsed {
        grid-column: 1 / -1;
        transition: 200ms linear;
        margin-left: 80px;
        padding: 50px 60px;
    }
    .dash-nav.collapsed {
        grid-column: 1 / -1;
        transition: 200ms linear;
        margin-left: 80px;
        width: 95%;
    }
    .data-container {
        background: white;
        padding: 30px 50px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 2px;
    }
    td, th {
        padding: 10px 20px;
    }
    .company-info-container {
        background: white;
        padding: 30px 50px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 2px;
    }
}