.deactivated {
    color: gray;
}

.deactivated button {
    color: gray;
    border: 1px solid gray;
}

.add-customer-form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    align-items: flex-start;
}

.add-customer-form-group input {
    margin: 0;
}

.add-customer-form-group select {
    margin: 0;
    padding: 18px 14px;
    width: 310px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    color: rgb(92, 92, 92);
}

.select-container {
    align-self: center;
    margin-top: 16px;
    margin-bottom: 8px;
}