.deactivated {
    color: gray;
}

.deactivated button {
    color: gray;
    border: 1px solid gray;
}


.add-customer-form-group input {
    margin: 0;
}

.add-customer-form-group select {
    margin: 0;
    width: 75%;
}

.add-customer-form {
    background: white;
    border-radius: 5px;
    padding: 30px 60px;
    box-shadow: 1px 1px 3px rgb(186, 186, 186);
}

.cancel-btn {
    border: 1px solid rgb(63, 63, 63);
    text-decoration: none;
    color: rgb(63, 63, 63);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
    box-shadow: 1px 1px 2px gray;
    justify-self: flex-end;
}
