.single-property-container {
    background: white;
    padding: 30px 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
    margin-bottom: 50px;
}

.property-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.property-info p {
    margin: 10px 0;
    font-size: 14px;
}

.property-image {
    width: 100%;
    border-radius: 2px;
}

.active-icon {
    color: #273443;
}

.active-icon:hover {
    cursor:pointer
}

.property-nav,
.payments-nav {
    display: grid;
    background: none;
    align-content: center;
    width: 50%;
}

.property-nav {
    grid-template-columns: repeat(4, auto);
    background: #273443;
    color: white;
    height: 40px;
    margin-top: 50px;
    width: 60%;
}

.payments-nav {
    grid-template-columns: repeat(3, auto);
}

.payments-nav a,
.property-nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #273443;
}

.property-nav a {
    justify-self: center;    
    border-radius: 5px;
}

.property-nav a h4 {
    color: white;
    margin: 0;
    padding: 5px 20px;
}

.property-nav a:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: 300ms linear;
}

.entry-count {
    font-size: 12px;
}