.single-property-container {
    background: white;
    padding: 30px 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
    margin-bottom: 50px;
}

.property-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.property-info p {
    margin: 10px 0;
}

.property-image {
    width: 100%;
}

.active-icon {
    color: #273443;
}

.active-icon:hover {
    cursor:pointer
}

.payments-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 35%;
    padding: 5px;
    background: none;
    align-content: center;
}

.payments-nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #273443;
}

.entry-count {
    font-size: 12px;
}