.promotion-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(138, 138, 138);
    grid-column: 1 / -1;   
    box-shadow: 1px 1px 3px rgb(215, 215, 215);
    background-color: white;
}

th {
    background: rgb(79, 79, 79);
    color: white;
}

td {
    border-top: 1px solid rgb(138, 138, 138);
}

td, th {
    padding: 6px 30px;
}

.promotion-container h3 {
    grid-column: 1 / 4;
    font-size: 25px;
}

.add_promotion  {
    grid-column: 4 / -1;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid black;
    font-size: 16px;
    box-shadow: 1px 1px 3px rgb(215, 215, 215);
}

.add_content {
    width: 300px;
    margin: 0 auto;
}

.promotion_table button,
button {
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 8px 10px;
    display: inline-block;
}

.delete button {
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 10px;
}