@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

nav {
    display: grid;
    height: 80px;
    background-color: white;
}

.link,
.login,
.register,
.logout {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    display: grid;
    align-content: center;
    font-family: 'Work Sans', sans-serif;
    grid-column: 3 / 4;
}

.logo span {
    font-size: 30px;
}

.logo h2 {
    margin: 0;
}

.color {
    color: green;
}

.collapsed-content {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    align-content: center;
    justify-content: center;
    grid-column: 8 / 15;
}

.link {
    margin-bottom: 12px;
    color: black;
    display: inline-block;
}

.link:hover {
    color: rgb(77, 154, 77);
    transition: 300ms linear 10ms;
}

.login-nav {
    display: grid;
    grid-template-columns: 92px 95px;
    grid-column: 20 / 23;
    grid-gap: 10px;
    align-items: center;
}

.login,
.register,
.logout,
.account {
    border-radius: 3px;
    margin-top: 14px;
    text-align: center;
}

.login {
    background: green;
    padding: 8px 26px;
    color: white;
}

.login:hover{
    background: rgb(77, 154, 77);
    transition: 300ms linear 10ms;
}

.register, 
.logout {
    border: 2px solid green;
    padding: 6px 16px; 
    color: green;
}

.register:hover,
.logout:hover {
    color: rgb(77, 154, 77);
    border: 2px solid rgb(77, 154, 77);
    transition: 300ms linear 10ms;
    cursor: pointer;
}

.logout {
    margin: 5px 0;
    font-size: 16px;
}
