@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

.footer-container {
    background: #343434;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.company-info {
    flex: 1;
    align-content: flex-start;
}

.footer-container h2 {
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
}

.green-logo {
    color: lightgreen;
}

.contact-info {
    flex: 1;
}

.footer-nav {
    flex: 1;
    text-align: center;
}

.footer-nav-links p {
    color: white;
}

.footer-nav-links p:hover {
    color: lightgreen;
}