@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:200,300&display=swap');

.web-home {
    background-color: white;
}

.web-home span {
    font-size: 24px;
}

.webpage-home {
    font-family: 'Open Sans', sans-serif;
}

.featured-properties h2,
.services h2,
.company h2 {
    font-size: 32px;
}

.webpage-home h3 {
    font-size: 22px;
    margin-top: 30px;
}

.webpage-home h2,
.webpage-home h3 {
    font-family: 'Work Sans', sans-serif;
}


.background-image {
    background: url('https://images.unsplash.com/photo-1484154218962-a197022b5858?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-search {
    width: 100%;
    margin: 0 auto;
}

.search-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
}

.featured-properties {
    width: 80%;
    margin: 100px auto;
}

.property-link {
    color: black;
    text-decoration: none;
}

.properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    width: 100%;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    border: rgb(168, 168, 168);
    border-radius: 5px;
}

.property-image-container {
    position: relative;
    overflow: hidden
}

.property-image-container img {
    width: 100%;
}

.web-price {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    width: 100%;
    padding: 20px 20px 15px;
}

.property-content {
    padding: 10px 20px;
}

.property-content h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
}

.property-content div {
    display: flex;
    justify-content: space-between;
}

.property-grid {
    width: 70%;
    align-items: center;
}

.property-grid p {
    margin: 0;
}

.services {
    padding: 60px;
}

.services h2 {
    text-align: center;
    margin-bottom: 40px;
}

.services-cards {
    display: flex;
    text-align: center;
    justify-content: space-around;
    line-height: 1.6;
}

.services-button {
    width: 150px;
    margin: 40px auto 0;
}

.services button,
.rent-button {
    background: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 0.5px solid green;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgb(191, 191, 191);
}

.services button:hover,
.rent-button:hover {
    background: rgb(77, 154, 77);
    border: 0.5px solid rgb(77, 154, 77);
    transition: 300ms linear 10ms;
    cursor: pointer;
}

.tile {
    width: 25%;
}

.company {
    display: flex;
    margin: 100px auto 0;
}

.company-content {
    padding: 60px 100px;
    line-height: 1.8;
}

.company-image {
    width: 50vw;
    margin-bottom: -5px;
}

.company-image-container {
    align-self: flex-end;

}