td.delete {
    text-align: right;
    padding-right: 50px;
}

.broker-properties-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
}

.submit,
.edit,
.btn {
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    justify-self: flex-end;
    padding: 10px 30px;
    box-shadow: 1px 1px 2px gray;
}

.add {
    border: none;
    background: none;
    justify-self: flex-end;
    color: #273443;
}

.add:hover {
    cursor:pointer;
}

button.add {
    font-size: 45px;
}

.submit {
    border: 1px solid rgb(23, 136, 87);
    font-size: 16px;
    color: rgb(23, 136, 87);
}

.submit:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px gray;
    transition: 300ms linear;
}

.asset-card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(181, 181, 181);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    position: relative;
    z-index: -1;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.property-photo {
    width: 100%;
}

.price {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    width: 100%;
    padding: 20px 20px 15px;
}

.top-content {
    margin-bottom: 20px;
}

.asset-card div {
    grid-column: 1 / -1;
}

.asset-card p {
    margin: 0;
    align-self: flex-end;
}

.asset-card a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
}


.manage-listing {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 18px;
    box-shadow: 1px 1px 2px rgb(199, 199, 199);
}

.single-property-container {
    padding-bottom: 100px;
}


.add-property-form {
    padding: 30px 40px;
    background: white;
    border-radius: 5px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 2px rgb(174, 174, 174);
}

.dashboard-container input[type="text"],
.dashboard-container input[type="number"],
.dashboard-container input[type="date"],
.dashboard-container input[type="email"],
.add-property-form select,
.add-property-form option,
.edit-property-form select,
.edit-property-form option,
textarea {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 70%;
    font-size: 14px;
}

.add-property-form select,
.edit-property-form select,
.single-property-container select {
    margin: 0;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px 0;
}

.price-type {
    display: grid;
    grid-template-columns: repeat(2, 80px);
}

.hidden {
    display: none;
}

table {
    width: 100%;
    margin-bottom: 50px;
}

.sp-form {
    background: white;
    max-width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 1px 1px 2px rgb(174, 174, 174);
}
