* {
    box-sizing: border-box;
}

.single-property-container address h2 {
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0;
    font-size: 40px;
}

.single-property-container address h3 {
    font-weight: 300;
    font-style: normal;
    margin-top: 10px;
    font-size: 20px;
}

td.delete {
    text-align: right;
    padding-right: 50px;
}

.delete-heading {
    text-align: right;
    padding-right: 42px;
}

.broker-properties {
    padding: 20px;
}

.broker-properties-grid {
    display: grid;
    grid-gap: 20px;
    padding-bottom: 60px;
}

.header-grid-component {
    display: grid;
    align-items: baseline;
}

.header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
}

.contract-link {
    text-decoration: none;
    align-self: flex-start;
    justify-self: center;
}

.edit,
.btn {
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    justify-self: flex-end;
    padding: 10px 30px;
    box-shadow: 1px 1px 2px gray;
}

.add {
    border: none;
    background: none;
    justify-self: flex-end;
    align-self: center;
    color: #273443;
    font-size: 30px;
}

.add:hover {
    cursor:pointer;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    transition: background 400ms ease-in-out;
}

.submit {
    border: 1px solid rgb(23, 136, 87);
    font-size: 15px;
    background: rgb(23, 136, 87);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 300ms linear;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
    transition: 300ms linear;
}

.dash-nav {
    position: fixed;
    z-index: 1000;
}

.asset-card {
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(181, 181, 181);
    margin: 10px;
    position: relative;
    z-index: 0;
    font-size: 14px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.property-photo {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.price {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
    width: 100%;
    padding: 20px 20px 15px;
}

.top-content {
    padding: 20px;
}

.top-content h4 {
    margin: 0 0 10px;
}

.bottom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}

.asset-card div {
    grid-column: 1 / -1;
}

.asset-card p {
    margin: 0 8px 0 0;
    align-self: flex-end;
}

.asset-card a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
}

.property-thumbnail-image-container {
    width: 100%;
    height: 80px;
}

.property-thumbnail-image {
    height: 100%;
    margin-right: 4px;
    transition: 200ms linear;
}

.property-thumbnail-image:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 200ms linear;
}

.manage-listing {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 1px 1px 2px rgb(199, 199, 199);
}

.manage-listing:hover {
    box-shadow: 2px 2px 3px rgb(199, 199, 199);
    transition: 400ms ease-in-out;
}

.promotions-table td:last-child {
    text-align: center;
}

.single-property-container {
    padding-bottom: 100px;
}

.add-property,
.edit-property {
    padding: 0 10px;
}

.add-property-form {
    padding: 30px 0;
    background: white;
    border-radius: 5px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 2px rgb(174, 174, 174);
}

.inner-form-content {
    width: 90%;
    margin: 0 auto;
}

.inner-form-content h3 {
    background: #27344317;
    padding: 15px;
}

.inner-form-content p {
    font-size: 12px;
}

.form-content-section {
    margin-bottom: 80px;
}

.dashboard-container input[type="text"],
.dashboard-container input[type="number"],
.dashboard-container input[type="date"],
.dashboard-container input[type="email"],
.add-property-form select,
.add-property-form option,
.edit-property-form ,
.edit-property-form option,
textarea,
select {
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 100%;
    font-size: 14px;
    box-shadow:inset 0 0 1px 1px rgba(194, 194, 194, 0.288);
    background-image: linear-gradient(rgba(219, 219, 219, 0.144),rgba(255,255,255,0))
}

.dashboard-container input[type="text"]:focus,
.dashboard-container input[type="number"]:focus,
.dashboard-container input[type="date"]:focus,
.dashboard-container input[type="email"]:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 2px 2px rgba(194, 194, 194, 0.9     );
}

.add-property-form select,
.edit-property-form select,
.single-property-container select {
    margin: 0;
    width: 100%;
}

.form-group {
    margin: 10px 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.col3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 13px;
}

.radio-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    align-items: center;
    width: 150px;
}

.radio-grid label {
    margin: 0;
}

.price-type {
    display: grid;
    grid-template-columns: repeat(2, 80px);
}

.hidden {
    display: none;
}

table {
    width: 100%;
    margin-bottom: 50px;
}

.sp-form {
    background: white;
    max-width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 1px 1px 2px rgb(174, 174, 174);
}

.action-icon {
    padding: 5px;
    box-sizing: initial;
}

.action-icon:hover {
    background: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    transition: background 400ms ease-in-out;
}

.image-uploader {
    width: 100%;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.thumbnail-container {
    position: relative;
}

.thumbnail-container img {
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.6);
    border-radius: 2px;
}

.thumbnail-container p {
    font-size: 12px;
}

.close-image {
    position: absolute;
    top: -10px;
    left: 90px;
    background: #273443;
    color: white;
    border-radius: 50%;
    padding: 1px;
}

.close-image:hover {
    cursor: pointer;
}

.required {
    color:red;
    font-size: 11px;
}


@media (min-width: 768px){
    .broker-properties-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .manage-listing {
        padding: 8px 18px;
    }
    .add-property-form {
        padding: 30px 50px 60px;
    }
    .inner-form-content {
        width: 80%;
    }
}
@media (min-width: 1200px){
    .broker-properties-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .manage-listing {
        padding: 8px 12px;
    }
}

