@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

.login-container {
    background: #343434;
    color: white;
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
}

.login-container h1 {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.margin-container {
    width: 300px;
    margin: 0 auto;
} 

.form-group input {
    display: block;
}

input[type='email'],
input[type='password'] {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

input[type='submit'] {
    background: lightgreen;
    border-radius: 5px;
    border: none;
    padding: 6px 16px;
    font-size: 14px;
    cursor: pointer;
}

.login-container p {
    margin-bottom: 0;
    padding-bottom: 30px;
}