@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300&display=swap');

ul {
    list-style: none;
}

.dash-sidebar-container {
    background-image: linear-gradient( to right, #273443 85%, #222d37);
    color: white;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}

.admin-info {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.admin-info:first-child{
    grid-column: 1 / 2;
}

.dash-sidebar-container h2 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    grid-column: 2 / 6;
    padding-left: 15px;
    font-size: 20px;
}

.dash-nav-ul {
    padding: 0;
    margin: 10px;
}

.dash-nav-link {
    display: grid;
    text-decoration: none;
    grid-template-columns: 1fr, 4fr;
    align-items: center;
    justify-content: flex-start;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    width: 92%;
}

.dash-nav-link:hover {
    background: rgba(0, 0, 0, 0.6);
    transition: 300ms linear;
}

.dash-nav-link:first-child {
    grid-column: 1 / 2;
}

.dash-nav-link p {
    grid-column: 2 / 5;
    padding-left: 20px;
}

ul {
    padding-left: 20px;
}

.dash-nav-ul.collapsed {
    display: none;
}

.toggle-btn {
    background: none;
    border: none;
}

.toggle-btn:hover {
    cursor: pointer;
}

.burger-bar {
    height: 3px;
    margin: 5px 0 5px -5px;
    width: 24px;
    border-radius: 1px;
    background: white;
}

.half {
    width: 14px;
}


@media (min-width: 900px){
    .dash-sidebar-container {
        width: 25%;
        position: fixed;
        overflow: scroll; 
        height: 100%;
        transition: 200ms linear;
    }
    .dash-nav-link p {
        opacity: 1;
        transition: 300ms linear 50ms;
    }
    .dash-nav-ul.collapsed {
        display: block;
    }
    .dash-sidebar-container.collapsed {
        width: 80px;
        transition: 200ms linear;
    }
    .dash-nav-link p.collapsed {
        opacity: 0;
        height: 20px;
        transition: 0ms;
    }
    .icon.collapsed,
    h2.collapsed {
        display: none;
    }
    .dash-nav-link.collapsed:hover {
        background: rgba(0, 0, 0, 0.6);
        transition: 10ms linear;
        width: 42px;
    }
}