.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 50px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .update-modal-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 100px 60px;
    align-items: baseline;
    width: 50%;
    margin: 0 auto;
  }

  .update-modal-grid h3 {
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }


  .update-modal-grid .cancel{
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    align-self: center;
  }

  .update-modal-grid .form-group {
    grid-column: 1 / -1;
  }

  .delete-modal-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    width: 50%;
    margin: 0 auto;
  }

  .delete-modal-grid h3 {
    margin: 0;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    margin-bottom: 10px;
  }

  .delete-modal-grid .cancel {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    align-self: flex-end;
  }

  .delete-modal-grid .delete {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    align-self: flex-end;    
  }

.add-content .form-group {
    display: block;
  }
  

  .add-content .form-group input[type="text"] ,
  .add-content .form-group input[type="date"],
  .add-content .form-group input[type="number"]{
    width: 92%;
    height: 30px;
  }


  .cancel button,
  .delete-modal-grid .cancel button {
    color: rgb(77, 77, 77);
    border: 1px solid rgb(77, 77, 77);
    margin-right: 10px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 1px 2px rgb(176, 176, 176);
  }

  .cancel button:hover,
  .delete button:hover,
  .delete-modal-grid .cancel button:hover {
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
    transition: 200ms linear;
  }

  .delete button {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 1px 2px rgb(205, 152, 152);

  }
