.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 50px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .modal-grid {
    display: grid;
    grid-template-columns: repeat(2, 80px) 1fr;
    grid-template-rows: 70px 80px 50px;
    align-items: baseline;
    width: 50%;
    margin: 0 auto;
  }

  .modal-grid h3 {
    margin: 0;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .update-form-group {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .modal-btn1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .modal-btn2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  #cancel {
    color: gray;
    border: 1px solid gray;
    margin-right: 10px;
  }

  